In [61]:
import geopandas as gpd
import pandas as pd
import collections

In [97]:
shp_file = '/Users/thays/Desktop/RDU_pitch/mapping/UScities/citiesx010g.shp'
shp_df = gpd.read_file(shp_file)
shp_df = shp_df[['NAME', 'COUNTY', 'STATE', 'STATE_FIPS', 'geometry']]
shp_df['NAME'] = shp_df['NAME'] + ', ' + shp_df['STATE']
shp_df.rename(columns = {'NAME':'city_state'}, inplace=True)

In [98]:
shp_df.head()

,city_state,COUNTY,STATE,STATE_FIPS,geometry
0,"Dunseith, ND",Rolette,ND,38,POINT (-100.0609678 48.81305690000016)
1,"Mylo, ND",Rolette,ND,38,POINT (-99.61875549999991 48.63527850000003)
2,"Antler, ND",Bottineau,ND,38,POINT (-101.2823802999999 48.97085320000008)
3,"Bottineau, ND",Bottineau,ND,38,POINT (-100.4456984 48.82723010000012)
4,"Gardena, ND",Bottineau,ND,38,POINT (-100.4976392999999 48.70083700000004)

In [76]:
tweets_file = '/Users/thays/Desktop/RDU_pitch/RDU_Pitch_Location_Tweet Freq.csv'
tweets_df = pd.DataFrame.from_csv(tweets_file)
tweets_df.head()

     brand      city_state  frequency                             zip_list
0  Atlanta       Allen, TX          1                       [75002, 75013]
1  Atlanta  Alpharetta, GA          1         [30004, 30005, 30009, 30022]
2  Atlanta     Amherst, NH          1                            ['03031']
3  Atlanta   Annapolis, MD          1  [21401, 21402, 21403, 21405, 21409]
4  Atlanta       Arden, NC          1                              [28704]

In [72]:
test_df = pd.DataFrame(columns = ['brand', 'city_state', 'freq'])
test_df['brand'] = tweets_df['city_state'] if tweets_df

,NAME,COUNTY,STATE,STATE_FIPS,geometry
0,"Dunseith, ND, ND, ND, ND",Rolette,ND,38,POINT (-100.0609678 48.81305690000016)
1,"Mylo, ND, ND, ND, ND",Rolette,ND,38,POINT (-99.61875549999991 48.63527850000003)
2,"Antler, ND, ND, ND, ND",Bottineau,ND,38,POINT (-101.2823802999999 48.97085320000008)
3,"Bottineau, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.4456984 48.82723010000012)
4,"Gardena, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.4976392999999 48.70083700000004)
5,"Kramer, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.7068093 48.69056500000011)
6,"Landa, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.9118208 48.89668550000016)
7,"Lansford, ND, ND, ND, ND",Bottineau,ND,38,POINT (-101.3757157999999 48.62890900000019)
8,"Maxbass, ND, ND, ND, ND",Bottineau,ND,38,POINT (-101.1415463999999 48.72168780000004)
9,"Newburg, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.9129293 48.71501770000009)
10,"Overly, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.1501359999999 48.68194370000003)
11,"Canton City, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.66766959999995 48.68787450000008)
12,"Crystal, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.66953339999998 48.59693709999999)
13,"Drayton, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.17784849999993 48.57109580000008)
14,"Hamilton, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.45285869999998 48.80860080000002)
15,"Mountain, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.86509659999996 48.68777190000014)
16,"Neche, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.55479999999994 48.98610270000006)
17,"Pembina, ND, ND, ND, ND",Pembina,ND,38,POINT (-97.24367609999996 48.96637660000005)
18,"Cando, ND, ND, ND, ND",Towner,ND,38,POINT (-99.20985929999995 48.48666820000005)
19,"Egeland, ND, ND, ND, ND",Towner,ND,38,POINT (-99.09735859999995 48.62639450000017)
20,"Hansboro, ND, ND, ND, ND",Towner,ND,38,POINT (-99.38291449999997 48.95000780000015)
21,"Perth, ND, ND, ND, ND",Towner,ND,38,POINT (-99.45792089999998 48.71639320000003)
22,"Rocklake, ND, ND, ND, ND",Towner,ND,38,POINT (-99.24608439999997 48.7901657000001)
23,"Alsen, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.70484879999998 48.63056260000008)
24,"Calio, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.93291089999991 48.63111820000006)
25,"Calvin, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.93540779999995 48.85250680000019)
26,"Hannah, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.69178839999989 48.97167080000003)
27,"Langdon, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.36817279999991 48.76000069999998)
28,"Loma, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.53289839999991 48.63028320000006)
29,"Milton, ND, ND, ND, ND",Cavalier,ND,38,POINT (-98.04260169999998 48.62638380000016)
...,...,...,...,...,...
38156,"Rockvale, MT, MT, MT, MT",Carbon,MT,02,POINT (-108.8539506115473 45.52288808365339)
38157,"Bozeman Hot Springs, MT, MT, MT, MT",Gallatin,MT,02,POINT (-111.185003389345 45.66614721368087)
38158,"Watkins, CO, CO, CO, CO",Arapahoe,CO,08,POINT (-104.6201097999416 39.7473803164433)
38159,"Parlin, CO, CO, CO, CO",Gunnison,CO,08,POINT (-106.7267186277016 38.5038781888384)
38160,"Doyleville, CO, CO, CO, CO",Doyleville,CO,08,POINT (-106.6145621332496 38.45329106028131)
38161,"Mineral Hot Springs, CO, CO, CO, CO",Saguache,CO,08,POINT (-105.9254128042494 38.17366133188641)
38162,"Lawson, CO, CO, CO, CO",Clear Creek,CO,08,POINT (-105.6288439665052 39.76416244346169)
38163,"Dumont, CO, CO, CO, CO",Clear Creek,CO,08,POINT (-105.5987962706318 39.76433742223612)
38164,"El Rancho, CO, CO, CO, CO",Jefferson,CO,08,POINT (-105.3314043806544 39.69987951654043)
38165,"Granite, IA, IA, IA, IA",Lyon County,IA,19,POINT (-96.556396484375 43.4688720703125)
38166,"Carbury, ND, ND, ND, ND",Bottineau,ND,38,POINT (-100.5446166992188 48.89093017578125)
38167,"Rose Lake, ID, ID, ID, ID",Kootenai,ID,16,POINT (-116.4718017578125 47.53887939453125)
38168,"Sparta, NJ, NJ, NJ, NJ",Sussex,NJ,34,POINT (-74.63848876953125 41.03350830078125)
38169,"Manchester, NJ, NJ, NJ, NJ",Ocean,NJ,34,POINT (-74.35849966218824 39.976246363367)
38170,"Bacavi, AZ, AZ, AZ, AZ",Navajo,AZ,04,POINT (-110.6572875976562 35.9237060546875)
38171,"Big Springs, AZ, AZ, AZ, AZ",Coconino,AZ,04,POINT (-112.3499145507812 36.6016845703125)
38172,"Double Adobe, AZ, AZ, AZ, AZ",Cochise,AZ,04,POINT (-109.6900024414062 31.4666748046875)
38173,"Carmen, AZ, AZ, AZ, AZ",Santa Cruz,AZ,04,POINT (-111.0527954101562 31.5872802734375)
38174,"Nicksville, AZ, AZ, AZ, AZ",Cochise,AZ,04,POINT (-110.2489013671875 31.4384765625)
38175,"Tumacacori, AZ, AZ, AZ, AZ",Santa Cruz,AZ,04,POINT (-111.0523071289062 31.5687255859375)
38176,"Forest Lakes Estates, AZ, AZ, AZ, AZ",Coconino,AZ,04,POINT (-110.7998046875 34.33892822265625)
38177,"Doyleville, CO, CO, CO, CO",Gunnison,CO,08,POINT (-106.6094970703125 38.45172119140625)
38178,"Farson, IA, IA, IA, IA",Wapello,IA,19,POINT (-92.25518798828125 41.122314453125)
38179,"West Grove, IA, IA, IA, IA",Davis,IA,19,POINT (-92.5601806640625 40.72467041015625)
38180,"Humble City, NM, NM, NM, NM",Lea,NM,35,POINT (-103.2191162109375 32.79510498046875)
38181,"Rutheron, NM, NM, NM, NM",Rio Arriba,NM,35,POINT (-106.6116943359375 36.71868896484375)
38182,"Los Padillas, NM, NM, NM, NM",Bernalillo,NM,35,POINT (-106.69580078125 34.96929931640625)
38183,"Ojo Caliente, NM, NM, NM, NM",Cibola,NM,35,POINT (-108.9683837890625 34.91668701171875)
38184,"Manhattan, NV, NV, NV, NV",Nye,NV,32,POINT (-117.0734252929688 38.53887939453125)
38185,"Matanuska, AK, AK, AK, AK",Matanuska-Susitna,AK,02,POINT (-149.2296752929688 61.5418701171875)

In [90]:
cityDict = {} #collections.OrderedDict()
# key = city, state : value = [brand, frequency value]

for idx, row in tweets_df.iterrows():
    city = row[1]
    if city in cityDict:
        if int(row[2]) > cityDict[city][1]:
            cityDict[city] = [row[0], row[2]]
        else:
            pass
    else:
        cityDict[city] = [row[0], row[2]]

In [91]:
brand_list = []
city_list = []
freq_list = []

for key in cityDict:
    city_list.append(key)
    brand_list.append(cityDict[key][0])
    freq_list.append(cityDict[key][1])

In [92]:
print (city_list[2], brand_list[2], freq_list[2])

('Milwaukee, WI', 'San_Diego', 2)

In [102]:
city_df = pd.DataFrame(columns=['city_state', 'brand', 'freq'])
city_df['city_state'] = city_list
city_df['brand'] = brand_list
city_df['freq'] = freq_list

In [108]:
None in city_df

False

In [122]:
map_df = gpd.GeoDataFrame.merge(shp_df, city_df, how = 'inner', on ='city_state')

In [123]:
map_df

,city_state,COUNTY,STATE,STATE_FIPS,geometry,brand,freq
0,"Syracuse, NY",Onondaga,NY,36,POINT (-76.14742439999998 43.04812210000017),Charlotte,1
1,"Buffalo, NY",Erie,NY,36,POINT (-78.87836889999994 42.8864468000001),Austin,1
2,"Northampton, MA",Hampshire,MA,25,POINT (-72.64120129999998 42.32508960000013),Indianapolis,1
3,"Boston, MA",Suffolk,MA,25,POINT (-71.05977319999994 42.35843080000012),Charlotte,3
4,"Chicago, IL",Cook,IL,17,POINT (-87.65005229999991 41.85003300000011),Atlanta,1
5,"Cleveland, OH",Cuyahoga,OH,39,POINT (-81.69540879999988 41.49949540000017),Atlanta,2
6,"Philadelphia, PA",Philadelphia,PA,42,POINT (-75.16378899999989 39.95233500000018),Atlanta,1
7,"Cuyahoga Falls, OH",Summit,OH,39,POINT (-81.48455849999993 41.13394490000002),Nashville,1
8,"Tiffin, OH",Seneca,OH,39,POINT (-83.17797469999994 41.11449920000013),Austin,1
9,"State College, PA",Centre,PA,42,POINT (-77.86000129999996 40.79339500000009),RDU,1
10,"Harrisburg, PA",Dauphin,PA,42,POINT (-76.88441789999996 40.27370020000012),Charlotte,1
11,"Middletown, PA",Dauphin,PA,42,POINT (-76.73108059999998 40.19981400000006),Charlotte,1
12,"Middletown, PA",Westmoreland,PA,42,POINT (-79.62059669999991 40.26173660000018),Charlotte,1
13,"Bristol, PA",Bucks,PA,42,POINT (-74.85183109999991 40.10066610000007),Atlanta,1
14,"Baltimore, MD",Baltimore (city),MD,24,POINT (-76.61218929999995 39.29038480000003),Atlanta,1
15,"Madison, WI",Dane,WI,55,POINT (-89.40123019999999 43.07305170000012),Atlanta,1
16,"Fort Atkinson, WI",Jefferson,WI,55,POINT (-88.83705089999989 42.92889440000005),Indianapolis,4
17,"Milwaukee, WI",Milwaukee,WI,55,POINT (-87.90647359999997 43.03890250000006),San_Diego,2
18,"Oak Creek, WI",Milwaukee,WI,55,POINT (-87.86313619999999 42.88585030000013),San_Diego,1
19,"Providence, RI",Providence,RI,44,POINT (-71.41283429999999 41.82398910000012),Atlanta,1
20,"Fremont, NE",Dodge,NE,31,POINT (-96.49808069999995 41.43333280000002),Atlanta,1
21,"Newport, RI",Newport,RI,44,POINT (-71.31282849999991 41.49010240000013),Charlotte,1
22,"Columbus, OH",Franklin,OH,39,POINT (-82.99879419999991 39.96117550000014),Atlanta,3
23,"Westerville, OH",Franklin,OH,39,POINT (-82.92906959999988 40.12617430000017),Charlotte,1
24,"Collingswood, NJ",Camden,NJ,34,POINT (-75.07128399999988 39.91816860000012),RDU,1
25,"Cincinnati, OH",Hamilton,OH,39,POINT (-84.52968641491206 39.11466309565821),Nashville,1
26,"Alexandria, VA",Alexandria (city),VA,51,POINT (-77.04692139999997 38.8048356000001),Charlotte,1
27,"Lynchburg, VA",Lynchburg (city),VA,51,POINT (-79.14224639999998 37.41375360000018),RDU,1
28,"Emporia, VA",Emporia (city),VA,51,POINT (-77.54248089999999 36.68598290000017),RDU,1
29,"Romulus, MI",Wayne,MI,26,POINT (-83.39659949999992 42.22226140000015),Charlotte,1
...,...,...,...,...,...,...,...
136,"Pflugerville, TX",Travis,TX,48,POINT (-97.62000429999989 30.43936960000008),Austin,2
137,"Kyle, TX",Hays,TX,48,POINT (-97.87722669999988 29.98910520000004),Austin,1
138,"Houston, TX",Harris,TX,48,POINT (-95.36327149999988 29.76328360000008),Atlanta,2
139,"Pearland, TX",Brazoria,TX,48,POINT (-95.28604739999997 29.56356660000017),Charlotte,1
140,"Portland, TX",San Patricio,TX,48,POINT (-97.32388049999997 27.87724629999997),Portland,1
141,"Mission, TX",Hidalgo,TX,48,POINT (-98.32529319999998 26.21590660000015),Austin,1
142,"Seattle, WA",King,WA,53,POINT (-122.3320707999999 47.60620950000003),Portland,2
143,"Tacoma, WA",Pierce,WA,53,POINT (-122.4442906 47.2528769000001),Louisville,1
144,"Vancouver, WA",Clark,WA,53,POINT (-122.6614860999999 45.63872810000004),Portland,3
145,"Wilsonville, OR",Clackamas,OR,41,POINT (-122.7737062 45.29984180000008),Portland,1
146,"Sacramento, CA",Sacramento,CA,06,POINT (-121.4943996 38.58157190000009),Atlanta,1
147,"San Francisco, CA",San Francisco,CA,06,POINT (-122.4194155 37.77492950000016),San_Diego,1
148,"San Jose, CA",Santa Clara,CA,06,POINT (-121.8949555 37.33938570000004),Portland,4
149,"Saratoga, CA",Santa Clara,CA,06,POINT (-122.0230145999999 37.26383240000013),Austin,1
150,"Torrance, CA",Los Angeles,CA,06,POINT (-118.3406288 33.83584919999998),Nashville,2
151,"Westlake Village, CA",Los Angeles,CA,06,POINT (-118.8056473999999 34.1458389),Nashville,2
152,"Scottsdale, AZ",Maricopa,AZ,04,POINT (-111.8990326999999 33.50921030000018),Charlotte,3
153,"San Clemente, CA",Orange,CA,06,POINT (-117.6119925 33.42697280000016),San_Diego,1
154,"San Diego, CA",San Diego,CA,06,POINT (-117.1572550999999 32.7153292000001),San_Diego,21
155,"San Marcos, TX",Hays,TX,48,POINT (-97.94139409999991 29.88327490000012),Austin,2
156,"San Antonio, TX",Bexar,TX,48,POINT (-98.49362819999999 29.42412190000005),Atlanta,4
157,"Amherst, NH",Hillsborough,NH,33,POINT (-71.6253486999999 42.86147480000017),Atlanta,1
158,"Driftwood, TX",Hays,TX,48,POINT (-98.03084249999989 30.12298760000016),Austin,2
159,"Athens, GA",Clarke,GA,13,POINT (-83.37793579999999 33.96094800000009),Atlanta,1
160,"Dayton, OH",Montgomery,OH,39,POINT (-84.19160689999995 39.7589478000001),Indianapolis,1
161,"Cedar Creek, TX",Bastrop,TX,48,POINT (-97.50083029999996 30.08716110000006),Austin,2
162,"Indianapolis, IN",Marion,IN,18,POINT (-86.15804229999998 39.76837650000004),Indianapolis,45
163,"Louisville, KY",Jefferson,KY,21,POINT (-85.75940699999995 38.25423760000007),Louisville,1
164,"Honolulu, HI",Honolulu,HI,15,POINT (-157.8583333 21.30694440000008),Portland,1
165,"Nashville, TN",Davidson,TN,47,POINT (-86.78444319999994 36.16588990000008),Nashville,18

In [124]:
map_df.to_file('/Users/thays/Desktop/RDU_pitch/mapping/tweetMap', driver='ESRI Shapefile')

In [66]:
freq_list = list(map_df.frequency.unique())
freq_list.sort()

In [128]:
AP_loc_list = list(map_df.brand.unique())

In [134]:
AP_df = gpd.GeoDataFrame(columns =['city_state'])
AP_loc_list = \
['Charlotte, NC',
 'Austin, TX',
 'Indianapolis, IN',
 'Atlanta, GA',
 'Nashville, TN',
 'Raleigh, NC',
 'San Diego, CA',
 'Portland, OR',
 'Louisville, KY']

In [135]:
AP_df['city_state'] = AP_loc_list

In [136]:
AP_map_df = gpd.GeoDataFrame.merge(shp_df, AP_df, how = 'inner', on ='city_state')

In [139]:
AP_map_df.to_file('/Users/thays/Desktop/RDU_pitch/mapping/AP_locations', driver='ESRI Shapefile')

In [140]:
map_df

,city_state,COUNTY,STATE,STATE_FIPS,geometry,brand,freq
0,"Syracuse, NY",Onondaga,NY,36,POINT (-76.14742439999998 43.04812210000017),Charlotte,1
1,"Buffalo, NY",Erie,NY,36,POINT (-78.87836889999994 42.8864468000001),Austin,1
2,"Northampton, MA",Hampshire,MA,25,POINT (-72.64120129999998 42.32508960000013),Indianapolis,1
3,"Boston, MA",Suffolk,MA,25,POINT (-71.05977319999994 42.35843080000012),Charlotte,3
4,"Chicago, IL",Cook,IL,17,POINT (-87.65005229999991 41.85003300000011),Atlanta,1
5,"Cleveland, OH",Cuyahoga,OH,39,POINT (-81.69540879999988 41.49949540000017),Atlanta,2
6,"Philadelphia, PA",Philadelphia,PA,42,POINT (-75.16378899999989 39.95233500000018),Atlanta,1
7,"Cuyahoga Falls, OH",Summit,OH,39,POINT (-81.48455849999993 41.13394490000002),Nashville,1
8,"Tiffin, OH",Seneca,OH,39,POINT (-83.17797469999994 41.11449920000013),Austin,1
9,"State College, PA",Centre,PA,42,POINT (-77.86000129999996 40.79339500000009),RDU,1
10,"Harrisburg, PA",Dauphin,PA,42,POINT (-76.88441789999996 40.27370020000012),Charlotte,1
11,"Middletown, PA",Dauphin,PA,42,POINT (-76.73108059999998 40.19981400000006),Charlotte,1
12,"Middletown, PA",Westmoreland,PA,42,POINT (-79.62059669999991 40.26173660000018),Charlotte,1
13,"Bristol, PA",Bucks,PA,42,POINT (-74.85183109999991 40.10066610000007),Atlanta,1
14,"Baltimore, MD",Baltimore (city),MD,24,POINT (-76.61218929999995 39.29038480000003),Atlanta,1
15,"Madison, WI",Dane,WI,55,POINT (-89.40123019999999 43.07305170000012),Atlanta,1
16,"Fort Atkinson, WI",Jefferson,WI,55,POINT (-88.83705089999989 42.92889440000005),Indianapolis,4
17,"Milwaukee, WI",Milwaukee,WI,55,POINT (-87.90647359999997 43.03890250000006),San_Diego,2
18,"Oak Creek, WI",Milwaukee,WI,55,POINT (-87.86313619999999 42.88585030000013),San_Diego,1
19,"Providence, RI",Providence,RI,44,POINT (-71.41283429999999 41.82398910000012),Atlanta,1
20,"Fremont, NE",Dodge,NE,31,POINT (-96.49808069999995 41.43333280000002),Atlanta,1
21,"Newport, RI",Newport,RI,44,POINT (-71.31282849999991 41.49010240000013),Charlotte,1
22,"Columbus, OH",Franklin,OH,39,POINT (-82.99879419999991 39.96117550000014),Atlanta,3
23,"Westerville, OH",Franklin,OH,39,POINT (-82.92906959999988 40.12617430000017),Charlotte,1
24,"Collingswood, NJ",Camden,NJ,34,POINT (-75.07128399999988 39.91816860000012),RDU,1
25,"Cincinnati, OH",Hamilton,OH,39,POINT (-84.52968641491206 39.11466309565821),Nashville,1
26,"Alexandria, VA",Alexandria (city),VA,51,POINT (-77.04692139999997 38.8048356000001),Charlotte,1
27,"Lynchburg, VA",Lynchburg (city),VA,51,POINT (-79.14224639999998 37.41375360000018),RDU,1
28,"Emporia, VA",Emporia (city),VA,51,POINT (-77.54248089999999 36.68598290000017),RDU,1
29,"Romulus, MI",Wayne,MI,26,POINT (-83.39659949999992 42.22226140000015),Charlotte,1
...,...,...,...,...,...,...,...
136,"Pflugerville, TX",Travis,TX,48,POINT (-97.62000429999989 30.43936960000008),Austin,2
137,"Kyle, TX",Hays,TX,48,POINT (-97.87722669999988 29.98910520000004),Austin,1
138,"Houston, TX",Harris,TX,48,POINT (-95.36327149999988 29.76328360000008),Atlanta,2
139,"Pearland, TX",Brazoria,TX,48,POINT (-95.28604739999997 29.56356660000017),Charlotte,1
140,"Portland, TX",San Patricio,TX,48,POINT (-97.32388049999997 27.87724629999997),Portland,1
141,"Mission, TX",Hidalgo,TX,48,POINT (-98.32529319999998 26.21590660000015),Austin,1
142,"Seattle, WA",King,WA,53,POINT (-122.3320707999999 47.60620950000003),Portland,2
143,"Tacoma, WA",Pierce,WA,53,POINT (-122.4442906 47.2528769000001),Louisville,1
144,"Vancouver, WA",Clark,WA,53,POINT (-122.6614860999999 45.63872810000004),Portland,3
145,"Wilsonville, OR",Clackamas,OR,41,POINT (-122.7737062 45.29984180000008),Portland,1
146,"Sacramento, CA",Sacramento,CA,06,POINT (-121.4943996 38.58157190000009),Atlanta,1
147,"San Francisco, CA",San Francisco,CA,06,POINT (-122.4194155 37.77492950000016),San_Diego,1
148,"San Jose, CA",Santa Clara,CA,06,POINT (-121.8949555 37.33938570000004),Portland,4
149,"Saratoga, CA",Santa Clara,CA,06,POINT (-122.0230145999999 37.26383240000013),Austin,1
150,"Torrance, CA",Los Angeles,CA,06,POINT (-118.3406288 33.83584919999998),Nashville,2
151,"Westlake Village, CA",Los Angeles,CA,06,POINT (-118.8056473999999 34.1458389),Nashville,2
152,"Scottsdale, AZ",Maricopa,AZ,04,POINT (-111.8990326999999 33.50921030000018),Charlotte,3
153,"San Clemente, CA",Orange,CA,06,POINT (-117.6119925 33.42697280000016),San_Diego,1
154,"San Diego, CA",San Diego,CA,06,POINT (-117.1572550999999 32.7153292000001),San_Diego,21
155,"San Marcos, TX",Hays,TX,48,POINT (-97.94139409999991 29.88327490000012),Austin,2
156,"San Antonio, TX",Bexar,TX,48,POINT (-98.49362819999999 29.42412190000005),Atlanta,4
157,"Amherst, NH",Hillsborough,NH,33,POINT (-71.6253486999999 42.86147480000017),Atlanta,1
158,"Driftwood, TX",Hays,TX,48,POINT (-98.03084249999989 30.12298760000016),Austin,2
159,"Athens, GA",Clarke,GA,13,POINT (-83.37793579999999 33.96094800000009),Atlanta,1
160,"Dayton, OH",Montgomery,OH,39,POINT (-84.19160689999995 39.7589478000001),Indianapolis,1
161,"Cedar Creek, TX",Bastrop,TX,48,POINT (-97.50083029999996 30.08716110000006),Austin,2
162,"Indianapolis, IN",Marion,IN,18,POINT (-86.15804229999998 39.76837650000004),Indianapolis,45
163,"Louisville, KY",Jefferson,KY,21,POINT (-85.75940699999995 38.25423760000007),Louisville,1
164,"Honolulu, HI",Honolulu,HI,15,POINT (-157.8583333 21.30694440000008),Portland,1
165,"Nashville, TN",Davidson,TN,47,POINT (-86.78444319999994 36.16588990000008),Nashville,18