In [13]:
import pandas.io.ga as ga
import pandas as pd
import datetime
import time

In [14]:
account_id = 'account_id'
property_id = 'UA-property_id-xx'
view_id = 'view_id'


start_date = '2016-01-01'
end_date = '2017-01-01'


dimensions = ['date',
              'cityId',
              'city']

# Metrics for Request
metrics = ['sessions',
           'users']

tempStartTime = start_date

count = 0
while str(tempStartTime) <= end_date:
    temp_df = ga.read_ga(
                     account_id  = account_id,
                     profile_id  = view_id, 
                     property_id = property_id,
                     metrics     = metrics, 
                     dimensions  = dimensions, 
                     start_date  = tempStartTime, 
                     end_date    = today, 
                     index_col   = 0)

    tempStartTime = temp_df.index.max()
    
    if count == 0:
        df = temp_df
    else:
        df = pd.concat([df,temp_df])
    count+=1
    time.sleep(.2)

In [22]:
test = df.sort(['sessions'], ascending=[False])
test

/Users/thays/anaconda/envs/python2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

             cityId           city  sessions  users
date
2017-01-03  1015067   Jacksonville      2280   1806
2016-07-19  1015067   Jacksonville      2191   1692
2016-08-16  1015067   Jacksonville      2181   1778
2017-01-17  1015067   Jacksonville      2169   1756
2016-09-27  1015067   Jacksonville      2133   1728
2017-01-04  1015067   Jacksonville      2074   1700
2016-10-11  1015067   Jacksonville      2069   1665
2016-09-13  1015067   Jacksonville      2065   1666
2017-01-18  1015067   Jacksonville      2057   1714
2016-10-26  1015067   Jacksonville      2056   1713
2016-08-30  1015067   Jacksonville      2045   1647
2017-01-24  1015067   Jacksonville      2044   1683
2017-01-23  1015067   Jacksonville      2039   1685
2016-12-06  1015067   Jacksonville      2033   1637
2016-09-19  1015067   Jacksonville      2033   1671
2016-09-28  1015067   Jacksonville      2033   1688
2017-01-09  1015067   Jacksonville      2023   1634
2016-10-24  1015067   Jacksonville      2020   1636
2016-07-20  1015067   Jacksonville      2020   1675
2016-11-07  1015067   Jacksonville      2019   1641
2016-04-26  1015067   Jacksonville      2017   1646
2016-08-15  1015067   Jacksonville      2007   1641
2016-11-01  1015067   Jacksonville      2003   1642
2016-04-25  1015067   Jacksonville      2002   1653
2016-08-02  1015067   Jacksonville      1999   1629
2016-01-19  1015067   Jacksonville      1990   1615
2016-08-01  1015067   Jacksonville      1983   1575
2016-08-17  1015067   Jacksonville      1982   1594
2017-01-10  1015067   Jacksonville      1981   1634
2016-08-31  1015067   Jacksonville      1979   1645
...             ...            ...       ...    ...
2016-10-24  1020519       O'Fallon         1      1
2016-10-24  1020618      St. Louis         1      1
2016-10-24  1020701         Biloxi         1      1
2016-10-24  1020760        Jackson         1      1
2016-10-24  1020854       Billings         1      1
2016-08-14  1015204    Saint Cloud         1      1
2016-08-14  1015241    Zephyrhills         1      1
2016-10-24  1018372         Quincy         1      1
2016-10-24  1018321         Newton         1      1
2016-10-24  1018316        Needham         1      1
2016-10-24  1016875       Sterling         1      1
2016-08-14  1015385     Hinesville         1      1
2016-10-24  1017093        Fishers         1      1
2016-10-24  1017108     Fort Wayne         1      1
2016-08-14  1015362    Gainesville         1      1
2016-10-24  1017255         Ossian         1      1
2016-10-24  1017339     Union City         1      1
2016-10-24  1017539        Leawood         1      1
2016-10-24  1017606      Pittsburg         1      1
2016-10-24  1017684        Ashland         1      1
2016-10-24  1017702  Bowling Green         1      1
2016-08-14  1015344          Evans         1      1
2016-10-24  1017868   Prestonsburg         1      1
2016-10-24  1018006         Kenner         1      1
2016-08-14  1015332   Douglasville         1      1
2016-10-24  1018055         Ruston         1      1
2016-10-24  1018176         Dedham         1      1
2016-10-24  1018210     Framingham         1      1
2016-10-24  1018315         Natick         1      1
2016-08-29  1015008        Deltona         1      1

[110000 rows x 4 columns]